<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Cette application permet une visualisation interactive, sur la carte de France, des données relatives à l'épidémie COVID-19. Elle permet ainsi d'évaluer son ampleur au niveau national, régional et départemental en étudiant des indicateurs comme les nombres de décès, hospitalisations, réanimations, guérisons...Elle présente aussi des indicateurs de suivi de la situation épidémique.">
        <meta name="Baligh Mnassri" content="Suivi de l'évolution de l'épidémie de COVID-19 en France">
        <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png"/>                
        <title>
            {% block title %} 
                
            {% endblock %}
        </title>
        <link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <!-- <body> -->
    <body>
        <header>
            <!-- Fixed navbar -->
            <nav class="mb-1 navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
                <a class="navbar-brand" style="font-family:monospace;" href="/"> 
                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="">
                    Suivi de COVID-19 en France
                </a> 
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-3" aria-controls="navbarSupportedContent-3" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent-3">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link waves-effect waves-light" href="/">
                                <i class="fa fa-fw fa-dashboard"></i>
                                    dashboard - 
                                    {% if (label == 'France'): %}
                                        {{ label }}
                                    {% elif (label['type'] == 'region'): %}
                                        {{ label['prefix'] }} {{ label['name'] }} (FR-{{ region }})
                                    {% elif (label['type'] == 'department'): %}
                                        {{ label['prefix'] }} {{ label['name'] }} (FR-{{ department }})
                                    {% endif %} 
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto nav-flex-icons">
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light" href="https://www.linkedin.com/in/baligh-mnassri/">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light" href="https://github.com/mnassrib">
                                <i class="fa fa-github"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light" href="https://twitter.com/balighmnassri">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <main role="main" class="container">
            <div class="scroll-pre"></div>
                {% if (state_covid == True and state_positive == False): %}
                    <p class="green-flashing" align="justify"> Les données analysées dans ce site concernent l'épidémie de COVID-19 en France. Elles sont fournies et mises à jour régulièrement par <a href="https://www.data.gouv.fr/fr/organizations/sante-publique-france/" target="_blank"><B>Santé publique France</B></a>. Ces données sont collectées auprès du milieu uniquement hospitalier sans compter les EHPAD et EMS.</p>
                {% elif (state_covid == False and state_positive == True): %}
                    <p class="pink-flashing" align="justify"> Les données analysées dans ce site concernent l'épidémie de COVID-19 en France. Elles sont fournies et mises à jour régulièrement par <a href="https://www.data.gouv.fr/fr/organizations/sante-publique-france/" target="_blank"><B>Santé publique France</B></a>. Ces données sont collectées auprès du milieu uniquement hospitalier sans compter les EHPAD et EMS.</p>
                {% elif (state_covid == True and state_positive == True): %}
                    {% if (charts_and_parameters_covid_data["counters"]['last_update_fr'] > charts_and_parameters_positive_data["counters"]['positive_last_update_fr']): %}
                        <p class="green-flashing" align="justify"> Les données analysées dans ce site concernent l'épidémie de COVID-19 en France. Elles sont fournies et mises à jour régulièrement par <a href="https://www.data.gouv.fr/fr/organizations/sante-publique-france/" target="_blank"><B>Santé publique France</B></a>. Ces données sont collectées auprès du milieu uniquement hospitalier sans compter les EHPAD et EMS.</p>
                    {% else : %}
                        <p class="pink-flashing" align="justify"> Les données analysées dans ce site concernent l'épidémie de COVID-19 en France. Elles sont fournies et mises à jour régulièrement par <a href="https://www.data.gouv.fr/fr/organizations/sante-publique-france/" target="_blank"><B>Santé publique France</B></a>. Ces données sont collectées auprès du milieu uniquement hospitalier sans compter les EHPAD et EMS.</p>
                    {% endif %} 
                {% elif (state_covid == False and state_positive == False): %}
                    <p class="steady-blue" align="justify"> Les données analysées dans ce site concernent l'épidémie de COVID-19 en France. Elles sont fournies et mises à jour régulièrement par <a href="https://www.data.gouv.fr/fr/organizations/sante-publique-france/" target="_blank"><B>Santé publique France</B></a>. Ces données sont collectées auprès du milieu uniquement hospitalier sans compter les EHPAD et EMS.</p>
                {% endif %} 
            {% block content %}
            
            {% endblock %}
        </main>
        <footer class="sticky-footer" style="width: 100%; height: 60px; line-height: 60px; background-color: #f5f5f5;">
            <div class="container">
                <div class="footer">
                    <p>&copy; <script>document.write(new Date().getFullYear())</script><a> </a><a href="https://www.linkedin.com/in/baligh-mnassri/?locale=en_US">Baligh Mnassri</a></p>
                    {% if (state_covid == True and state_positive == False): %}
                        <p><a style="font-size: 9px" href="#">Mises à jour des données : {{ charts_and_parameters_positive_data["counters"]['positive_last_update_fr'] }} cas positifs | <JavaBlink>{{ charts_and_parameters_covid_data["counters"]['last_update_fr'] }} les autres cas</JavaBlink></a></p>
                    {% elif (state_covid == False and state_positive == True): %}
                        <p><a style="font-size: 9px" href="#">Mises à jour des données : <JavaBlink>{{ charts_and_parameters_positive_data["counters"]['positive_last_update_fr'] }} cas positifs</JavaBlink> | {{ charts_and_parameters_covid_data["counters"]['last_update_fr'] }} les autres cas</a></p>
                    {% elif (state_covid == True and state_positive == True): %}
                        <p><a style="font-size: 9px" href="#">Mises à jour des données : <JavaBlink>{{ charts_and_parameters_positive_data["counters"]['positive_last_update_fr'] }} cas positifs</JavaBlink> | <JavaBlink>{{ charts_and_parameters_covid_data["counters"]['last_update_fr'] }} les autres cas</JavaBlink></a></p>
                    {% elif (state_covid == False and state_positive == False): %}
                        <p><a style="font-size: 9px" href="#">Mises à jour des données : {{ charts_and_parameters_positive_data["counters"]['positive_last_update_fr'] }} cas positifs | {{ charts_and_parameters_covid_data["counters"]['last_update_fr'] }} les autres cas</a></p>
                    {% endif %}                  
                </div>
            </div>
        </footer>
        <!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
        <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css"/>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css"/>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <!-- jQuery -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"
                charset="utf-8"></script>
        <!-- Include Required Prerequisites -->
        <script src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>   
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <!-- Plotly.js -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js" charset="utf-8"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.min.js" charset="utf-8"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mapael/2.2.0/js/jquery.mapael.min.js" charset="utf-8"></script>
        <script src="https://cdn.jsdelivr.net/gh/neveldo/mapael-maps@master/france/france_departments_domtom.min.js" charset="utf-8"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/1.51.1/plotly.min.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/neveldo/mapael-maps@master/france/france_regions_2016_domtom.min.js" charset="utf-8"></script>
        <!-- Include Date Range Picker -->
        <script src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
        <script src="//cdn.jsdelivr.net/momentjs/latest/moment-with-locales.min.js"></script>
        <!-- Load plotly.js into the DOM -->
        <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
        <script src="{{ url_for('static', filename='js/scripts_base.js') }}"></script>
        <script src="{{ url_for('static', filename='js/scripts_graphs.js') }}"></script>
        {% block js %}

        {% endblock %}
    </body>
</html>